<div>
    <div class="home-image">
        <img src="{{imageUrl}}" alt="Card image cap" width="400">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
        {{#if isLoggedIn}}
        <div class="info-buttons">
            <a class="btn details" href="/play/details/{{_id}}">Details</a>
            {{#if likes}}
            <span class="likes">{{likes}} likes</span>
            {{else}}
            <span class="likes">0 likes</span>
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>