<header>
    {{> header}}
    <form action="/search" method="GET">
        <input type="text" name="text">
        <button type="submit">Search</button>
    </form>
</header>
	
<main>
    <section class="cats">
            <ul>
                {{#each cats}}
                 <li>
	<img src="/images/{{image}}" alt="{{name}}">
	<h3>{{name}}</h3>
	<p><span>Breed: </span>{{breed}}</p>
	<p><span>Description: </span>{{description}}</p>
	<ul class="buttons">
	    <li class="btn edit"><a href="/cats-edit/{{id}}">Change Info</a></li>
	    <li class="btn delete"><a href="/cats-find-new-home/{{id}}">New Home</a></li>
	</ul>
   </li>
                {{/each}}
            </ul>
</section>
</main>